<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body ng-controller='control'>

    <div>
      <div id='title'>Grade Calculator</div>
      <br>
      <div id='message'>{{message}}</div>
      <div>{{storage}}</div>
      <div>{{final}}</div>
    </div>

    <div class='container'>

      <div ng-repeat='section in storage'>
        <div class='section'>

          <div class='itemSection'>
            <div class='item' ng-repeat='item in section.data'>
              <div class='fractionDisplay'>
                <span class='num'>{{item[0]}}</span>
                <span>{{item[1]}}</span>
              </div>
              <button ng-click='delete(section, $index, false)' class='itemButton'>x</button>
            </div>

            <div class='item' ng-repeat='item in section.future track by $index'>
              <div class='fractionDisplay'>
                <span class='num'>?</span>
                <span>{{item}}</span>
              </div>
              <button ng-click='delete(section, $index, true)' class='itemButton'>x</button>
            </div>

            <div class='item'>
              <div class='inputContainer'>
                <input ng-model='num' type='number' min='0' class='input'></input>
                <input ng-model='denom' type='number' min='1' class='input'></input>
                <input ng-model='future' type='checkbox'><span class='smallText'>Future</span></input>
                <button ng-click='addItem($index, num, denom, future)'>Add Item</button>
              </div>
            </div>
            <div class='itemEnd'></div>
          </div>
          
          <div class='totalSection'>
            <div class='item'>
              <div>{{section.total[0]}} / {{section.total[1]}}</div>
              <div>{{section.totalPercent}}%</div>
            </div>
          </div>

          <button class='sectionButton' ng-click='deleteSection($index)'>x</button>
        </div>
      </div>


      <div class='bottomSection'>
        <button ng-click='addSection()'>Add Section</button>

        <div>
          <div> You need to get a {{final.percentNeeded}}% average on your remaining items to get a <input ng-model='final.projected' type='number'></input> percent in the class
          </div>
        </div>
        <div class='totalSection'>
          <div class='item'>
            <div>{{final.total[0]}} / {{final.total[1]}}</div>
            <div>{{final.totalPercent}}%</div>
          </div>
        </div> 

      </div>


    </div>

    <script src="app.js"></script>
  </body>
</html>